<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prime Automation Pvt Ltd</title>
</head>
<body>
	<form th:action="@{/login}" th:object="${user}" method="post">
		<h1>Login</h1>
		<input name="username" type="text" placeholder="username" th:field="*{user_name}"> 
		<input 	name="password" type="text" placeholder="password" th:field="*{user_password}">
		<input type="submit" value="submit">
	</form>
	
	<form th:action="@{/register}" th:object="${user}" method="post">
		<h1>Register</h1>
		<input name="username" type="text" placeholder="username" th:field="*{user_name}"> 
		<input 	name="password" type="text" placeholder="password" th:field="*{user_password}">
		<input name="super_user_code" type="text" placeholder="SU Code" th:field="*{super_user_code}">
		<input type="submit" value="submit">

	</form>
	
	
</body>
</html>